<!DOCTYPE html>

<html ng-app="catalogoApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <!-- <link href="font-awesome/css/font-awesome.css" rel="stylesheet" > -->
        <link rel="stylesheet" href="css/style.css"/>

        <!-- Libraries -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>

        <!-- Components -->
        <script src="components/angular.module.js"></script>
        <script src="components/task/taskController.js"></script>
        <script src="components/constants.js"></script>

    </head>
    <body ng-controller="TodoController">
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
        <%=name %>
        <md-content>

            <p>
                No! Alderaan is peaceful. We have no weapons. You can't possibly…

What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide. Partially, but it also obeys your commands. A tremor in the Force. The last time I felt it was in the presence of my old master.

Hey, Luke! May the Force be with you. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.

A tremor in the Force. The last time I felt it was in the presence of my old master.

Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. You are a part of the Rebel Alliance and a traitor! Take her away!

You are a part of the Rebel Alliance and a traitor! Take her away!
Escape is not his plan. I must face him, alone.
What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.
Red Five standing by.
            </p>


        </md-content>
    </body>
</html>
